<ion-view title="Cart Tab Default Page" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">24 Feb 2016 - 16:00</div>
            <div class="item item-body">
                <form class="list">
                    <ion-toggle toggle-class="toggle-positive" name="asist">Confirmar Asistencia</ion-toggle>
                    <div>
                        <img src="img/uLQHGnIVR3mLC91aGqtC_Selection_049.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                    <ion-list>
                        <ion-item>Ubicación</ion-item>
                        <ion-item>Miércoles, 24 de Febrero</ion-item>
                    </ion-list>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>