<ion-view title="Próximas citas" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card" ng-repeat='date in historial'>
            <div class="item item-divider">{{date.in_date}}</div>
            <div class="item item-body">
                <form class="list">
                    <ion-toggle toggle-class="toggle-positive" name="asist">Confirmar Asistencia</ion-toggle>
                    <div>
                        <a ng-click="goMap(date.latitude, date.longitude)">
                            <img src="img/uLQHGnIVR3mLC91aGqtC_Selection_049.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                        </a>
                    </div>
                    <ion-list>
                        <ion-item>Ubicación: {{date.location.name}}</ion-item>
                        <ion-item>{{date.in_date}}</ion-item>
                    </ion-list>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>