<ion-view title="Historial" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card" ng-repeat='date in historial'>
            <div class="item item-divider">{{date.appointment_date}}</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>{{date.description}}</ion-item>
                    <ion-checkbox name="payed">Monto $ {{date.total}}</ion-checkbox>
                    <ion-item>Atendió</ion-item>
                    <ion-item>C.D. {{date.doctor_name}}</ion-item>
                </ion-list>
                <div class="button-bar" ng-show="date.rated == '' || date.rated == null">
                    <button ng-click="rateDate(date.id, 'BAD')" id="historial-button3" class="button button-positive  button-block">😔</button>
                    <button ng-click="rateDate(date.id, 'REGULAR')" id="historial-button4" class="button button-positive  button-block">😐</button>
                    <button ng-click="rateDate(date.id, 'GOOD')" id="historial-button5" class="button button-positive  button-block">😃</button>
                    <button ng-click="rateDate(date.id, 'EXELLENT')" id="historial-button5" class="button button-positive  button-block">⭐️</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Servicio</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-text-wrap">¿Qué te pareció la atención que reciviste?</ion-item>
                    </ion-list>
                <div class="button-bar" ng-show="date.rated == '' || date.rated == null">
                    <button class="button button-positive  button-block">😔</button>
                    <button class="button button-positive  button-block">😐</button>
                    <button class="button button-positive  button-block">😃</button>
                    <button class="button button-positive  button-block">⭐️</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>