<ion-view title="Historial" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card" ng-repeat='date in historial'>
            <div class="item item-divider">{{date.in_date}}</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Resina</ion-item>
                    <ion-checkbox name="payed">Monto $ {{date.total}}</ion-checkbox>
                    <ion-item>Atendió</ion-item>
                    <ion-item>C.D. {{date.doctor}}</ion-item>
                </ion-list>
                <div class="button-bar">
                    <button id="historial-button3" class="button button-positive  button-block">🙁</button>
                    <button id="historial-button4" class="button button-positive  button-block">😐</button>
                    <button id="historial-button5" class="button button-positive  button-block">😃</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>